#root {
  max-width: 1280px;
  margin: 0px;
  padding: 2rem;
  text-align: left;
}

.reminder-overlay {
  position: fixed;
  bottom: 10px;
  align-items: center;
  width: 400px;
  height: 300px;
  border-radius: 10%;
  border: 2px solid rgb(223, 102, 32);
  background: rgb(77, 33, 7);
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.reminder-overlay form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  width: 300px;
  align-items: center;
}

.reminder-overlay input {
  background: transparent;
  border: 1px solid rgb(223, 102, 32);
  border-radius: 5px;
  padding: 5px;
  margin-left: 0px;
  color: rgb(236, 221, 172);
  width: 100%;
}


.viewReminders {
  flex-direction: column;
  gap: 10px;
  width: 70%;
  background-color: none;
  text-align: left;
  align-items: left;
}

.viewReminders ul {
  list-style-type: none;
  padding: 0;
}

.viewReminders li {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
  background-color: rgb(77, 33, 7);
  color: white;
  border-radius: 5px;
  padding: 0px;
  margin: 10px;
  width: 100%;
}
.viewReminders label [type="checkbox"] {
  height: 20px;
  width: 20px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.add-reminder {
  color: white;
  width: 200px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}