#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}
/* src/components/Sidebar.css */

.streak h2 {
  width: 100vh;
  text-align: left;
  color : rgb(4, 114, 4);
}

.targets h2 {
  width: 100vh;
  text-align: left;
  color : rgb(74, 4, 114);
}