#root {
  max-width: 1300px;
  margin: 0px;
  padding: 2rem;
  text-align: left;
}
/* src/components/Sidebar.css */

.streak h2 {
  width: 100vh;
  text-align: left;
  color : rgb(20, 95, 138);
}

.targets h2 {
  width: 100vh;
  text-align: left;
  color : rgb(20, 95, 138);
}