#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}
/* src/components/Sidebar.css */
.sidebar {
  height: 100%; /* Full-height navigation */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;
  background-color: #111; /* Black background */
  padding-top: 20px;
  color: white;
}

.sidebar-header h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-links {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

.sidebar-links li a {
  padding: 10px 15px;
  text-decoration: none; /* Remove underline */
  color: #818181;
  display: block; /* Make the links appear as blocks */
  transition: 0.3s;
}

.sidebar-links li a:hover {
  color: #f1f1f1;
  background-color: #575757;
}

.streak h2 {
  width: 100vh;
  text-align: left;
}
