#root {
  max-width: 1280px;
  min-height: 100vh;
  text-align: left;
}
/* src/components/Sidebar.css */
.sidebar {
  height: 100%; /* Full-height navigation */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;
  background-color: #111; /* Black background */
  padding-top: 20px;
  color: white;
}

.sidebar-header h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-links {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

.sidebar-links li a {
  padding: 10px 15px;
  text-decoration: none; /* Remove underline */
  color: #818181;
  display: block; /* Make the links appear as blocks */
  transition: 0.3s;
}

.sidebar-links li a:hover {
  color: #f1f1f1;
  background-color: #575757;
}

.add-root-button-container {
  margin-top: 20px;
  width : 70%;
}

.Level1{
  width: 100%;
  padding: 10px;
  padding-bottom: 0px;
  margin-top: 20px;
  font-size: 16px;
}

.Level2{
  width: 100%;
  margin-top: 20px;
  margin-left: 40px;
  font-size: 20px;
  padding-bottom: 0px;
}

.Level3{
  width: 100%;
  margin-top: 20px;
  margin-left: 40px;
  font-size: 16px;
  padding-bottom: 0px;
}

.Level4{
  width: 100%;
  margin-top: 20px;
  margin-left: 40px;
  font-size: 16px;
  padding-bottom: 0px;
}

input {
  width: 80%;
  margin-left: 40px;
  border : none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  color : white;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

input:focus{
  border-bottom: 2px solid #0099ff;
}


.Add{
  background-color: #0099ff;
  border: none;
  color: rgb(252, 252, 252);
  padding: 3px 10px;
  margin-left: 10px;
  border-color: aqua;
  /*glow from border*/
  border-style: inset;
  border-bottom-left-radius: 0%;
  font-size: 20px;
}
