#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.diary-container {
  background-color: #e787d25e;
  height: 420px;
  width : 70%;
  padding: 5px 20px 10px 20px;
  color: rgb(77, 33, 7);
  border-radius: 30px;
  border: 2px dashed rgb(77, 33, 7);
  overflow-y: auto;
}

.diary-container .diary-input {
  width: 100%;
  height: 300px;
  border : none;
  background-color: transparent;
  color : rgb(77, 33, 7);
  font-size: 16px;
  outline: none;
}

#which_date {
  margin-bottom: 10px;
  width: 150px;
}

.save-button, .load-button {
  background-color: rgb(99, 4, 44);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.save-button{
  width: 70%;
}
.load-button{
  width: 80px;
}